@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

    body {
      font-weight: 800;
      font-family: 'Manrope', monospace;
      background-color: hsl(218, 23%, 16%);
    }

    .container {
      padding: 10px;
      margin-top: 182px;
      height: 290px;
      width: 482px;
      background-color: hsl(217, 19%, 24%);
    }

    h1 {
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 13px;
      color: hsl(150, 100%, 66%);
    }

    #text {
      font-size: x-large;
      color: hsl(193, 38%, 86%);
      font-weight: bolder;
      padding: 0px 15px;

    }

    #divider {
      margin-top: 31;
      margin-bottom: 40px;
    }

    #caixa {
      height: 130px;
      display: grid;
      align-content: center;
    }

    .circle {
      background-color: hsl(150, 100%, 66%);
      width: 50px;
      height: 50px;
      position: fixed;
      left: calc(46% + 37px);
      bottom: 235px;
    }

    #dice {
      margin-top: 13px;
    }

