<div class="d-flex justify-content-center align-items-center min-vh-100">
  <main class="text-white p-3 text-center rounded position-relative p-xl-4" *ngIf="conselho">
    <h6 class="mb-3 mt-xl-4">ADVICE <span>#{{conselho.id}}</span></h6>
    <p class="d-flex justify-content-center align-items-center fw-bold">"{{conselho.advice}}"</p>

    <picture>
      <source media="(min-width: 1400px)" srcset="pattern-divider-desktop.svg">
      <img src="pattern-divider-mobile.svg" alt="">
    </picture>

    <button (click)="buscarConselho()" class="btn rounded-circle">
      <img type="button" src="icon-dice.svg" alt="">
    </button>
  </main>
</div>

<router-outlet></router-outlet>
