main{
    width: 340px;
    height: 200px;

    position: relative;
    background-color: hsl(217, 19%, 24%);
    font-family: "Manrope";
}

div{
    background-color: hsl(218, 23%, 16%);
}

h6{
    color:  hsl(150, 100%, 66%);
}

p{
    height: 60px;
}

.btn{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 180px;
    right: 145px;
    background-color:  hsl(150, 100%, 66%);
    transition: transform 0.3 ease;
}

.btn:hover{
    transform: scale(1.1);
}

.btn:active{
    transform: scale(0.9);
    background-color:  hsla(150, 100%, 66%, 0.5);
}

@media (min-width: 1400px) {
    main{
        width: 500px;
        height: 250px;
    }

    p{
        height: 80px;
    }

    .btn{
        top: 225px;
        right: 225px;
    }
}